
.background {
  width: 1000px;
  height: 1000px;
  display: block;
  position: relative;
}

.background::before {
  content: "";
  background-image: url("../img/fred_rogers.jpg");
  opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}